
@{
    ViewBag.Title = "Coaches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Coaches</h1>

<h2>Mohammad Aslem</h2>
<li>Sr. Project Manager at SITA</li>
<li>Coach - Automation/Software Engineering Team</li>

<h2>Dr. Qutaiba Khasawneh</h2>
<li>Head Coach - Electronics, Testing, and Measurement</li> 
<li>Doctor of Philosophy, Electrical Engineering, Southern Methodist University</li>
<li>Electrical Engineer at Oncore Energy</li>

<h2>Mohammad Farsakh</h2>
<li>Coach - Mechanical Build Team</li>
<li>Distinguished Member of Technical Staff-system Engineer at Verizon</li>

<h2>Dr. Raed Sbeit</h2>
<li>Coach - Business & Marketing Team</li>
<li>Doctor of Engineering, Engineering Management, Southern Methodist University</li>
<li>Chief Executive OfficerChief Executive Officer at North Texas Leadership Development Academy </li>

<h2>Bilal Bhatti</h2>
<li>Coach - 3D Modeling Team</li>
<li>Technology Leader</li>

<h2>Hassan Karim</h2>
<li>Hype Master & Coach - Automation/Software Engineering Team</li>
<li>PhD Candidate, Computer Science, Howard University</li>
<li>Vice President at Goldman Sachs</li>

<h2>Muhammed Shaphy </h2>
<li>Coach - Automation Team</li>
<li>Stanford Certified Project Manager, Stanford University</li>
<li>President, Chief Technology Officer PriceSenz</li>

<h2>Faris Samanah</h2>
<li>Coach - Mechanical Build Team</li>
