@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Islamic School of Irving<br />
    2555 N. Esters Rd. Irving, TX 75062<br />
    972-812-2230 / 972-268-6716<br />
    Email: infog@marvelsofirving.org
  
</address>

