@{
    ViewBag.Title = "Gallery";
}

<div class="jumbotron">
    <h1>Marvels Of Irving Image Gallery</h1>
    <p>The Marvels of Irving Robotics club (<a href="https://www.firstinspires.org/robotics/ftc">FTC</a> #21127) 
        has participated in outreach events throughout 2022.
        We've presented to over 3000 people since August 2022 alone inspiring children and their parents to jump 
        into  STEM with Robotics. This Gallery is a collection of images from our outreach events.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>
        <a href="/Content/Images/Gallery/">Gallery/</a>
<!--        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
 -->   
 </div>
    <div class="col-md-4">
        <h2>North Texas Cup</h2>
        <p>
        <a href="/Content/Images/Gallery/NTX_cup/">FIRST - North Texas Cup</a>
        </p>
    <!--    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    -->   </div>
    <div class="col-md-4">
        <h2>ISNA Convention - Outreach to 3000 visitors</h2>
        <a href="/Content/Images/Gallery/NTX_cup/">FIRST - North Texas Cup</a>
        <p><a href="https://www.youtube.com/watch?v=Yl-n4OMyY38"></a>We made it to the NativeDeen Youtube channel</a></p>
    <!--      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    -->   </div>
</div>