@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Marvels Of Irving</h1>
    <p class="lead">Muslim Student Robotics team Striving to please Allah سُبْحَانَهُ وَتَعَالَى </p>
    <p>The Marvels of Irving Robotics club is a platform for inspiring underepresented 
    youth in the northwest dallas area to learn and grow using STEM. We build competitive
    mechatronic robots. We compete in the <a href="https://www.firstinspires.org/robotics/ftc">FIRST Technical Challenge (FTC)</a> 
    as FTC Team #21127</p>
    <p>We are a part of The Marvels global family of robotics teams founded by Dr. Ebeida</p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>
            We value ihsan (Excellence), teamwork, leadership, professionalism & diversity. Our goal is to have a leading robotics team with 2 fully functioning, award-winning, robots within a year.
        </p>
<!--        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
 -->   
 </div>
    <div class="col-md-4">
        <h2>Mission</h2>
        <p>
            We are a Muslim student Robotics team. Our goal is to Learn, inspire, and educate others on STEM.            .
        </p>
    <!--    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    -->   </div>
    <div class="col-md-4">
        <h2>Social Media</h2>
        <p><a href="https://www.youtube.com/watch?v=Yl-n4OMyY38"></a>Check us out on Youtube</a></p>
    <!--      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    -->   </div>
</div>