
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: lightblue;
        }

        img {
            width: 100%;
            height: auto;
        }

        #imagesize {
            width: 200px;
            height: 200px;
        }
    </style>



</head>
<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 10th Grade - Valleyview High School</td>
        </tr>
    </table>
<h4>Test</h4>
</div>

<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 9th Grade</td>
        </tr>
    </table>
    <h4>Test</h4>
</div>

<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 9th Grade</td>
        </tr>
    </table>
    <h4>Test</h4>
</div>

<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 9th Grade</td>
        </tr>
    </table>
    <h4>Test</h4>
</div>

<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 9th Grade</td>
        </tr>
    </table>
    <h4>Test</h4>
</div>

<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 9th Grade</td>
        </tr>
    </table>
    <h4>Test</h4>
</div>

<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 9th Grade</td>
        </tr>
    </table>
    <h4>Test</h4>
</div>

<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 9th Grade</td>
        </tr>
    </table>
    <h4>Test</h4>
</div>

<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 9th Grade</td>
        </tr>
    </table>
    <h4>Test</h4>
</div>

<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 9th Grade</td>
        </tr>
    </table>
    <h4>Test</h4>
</div>

<div class="lead">

    <table>
        <tr>
            <th>Team</th>
            <th>Name</th>
            <th>Role/Grade</th>
        </tr>
        <tr>
            <td>
                <a href="https://ftc-events.firstinspires.org/2021/USTXNOPTM1" target="_blank">
                    <br>
                    <img src="~/Content/Images/Team/Ali Karim.jpg" id="imagesize"> <br>
                </a>
            </td>
            <td>Ali Karim</td>
            <td>Marketing Team <br /> 9th Grade</td>
        </tr>
    </table>
    <h4>Test</h4>
</div>
